@model WebAdminbdTool.Models.Valoresvariables

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Valoresvariables</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fuente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdObjetoSistemaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdObjetoSistemaNavigation.NombreObjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTemporalidadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTemporalidadNavigation.NombreTemporalidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoObjetoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoObjetoNavigation.NombreTipoObjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoVariableNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoVariableNavigation.NombreTipoVariable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVariableNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVariableNavigation.NombreVariable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdunidadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdunidadNavigation.NombreUnidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdValorVariable">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
