@model WebAdminbdTool.Models.Variables

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Variables</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreVariable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreVariable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdVariable">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
