@model IEnumerable<WebAdminbdTool.Models.Tiposobjetosbasica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreTipoObjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreTabla)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTipoObjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTabla)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipoObjeto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipoObjeto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTipoObjeto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
