@model WebAdminbdTool.Models.Detalleconfiguracioncasobasica

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Detalleconfiguracioncasobasica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConfiguracionCasobasicaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConfiguracionCasobasicaNavigation.Descripcion)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTemporalidadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTemporalidadNavigation.NombreTemporalidad)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoObjetoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoObjetoNavigation.NombreTipoObjeto)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoVariableNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoVariableNavigation.NombreTipoVariable)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVariableNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVariableNavigation.NombreVariable)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdobjetoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdobjetoNavigation.NombreObjeto)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Iddetalleconfiguracioncaso" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
