@model WebAdminbdTool.Models.Configuracioncasobasica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Configuracioncasobasica</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EtapaInicial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EtapaInicial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EtapaFinal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EtapaFinal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTemporalidadNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTemporalidadNavigation.NombreTemporalidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdConfiguracionCasobasica">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
